@if (form) {
<div class="editor-header">
    <button mat-icon-button>
        <mat-icon>mood</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>call</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>video_call</mat-icon>
    </button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown)="enterForm($event)">
    <mat-form-field appearance="outline">
        <textarea rows="3" formControlName="content" matInput placeholder="Typing messages here"></textarea>
        <button class="form-submit" type="submit" mat-mini-fab [disabled]="form.invalid || isLoading" matSuffix
            mat-icon-button>
            @if (isLoading) {
            <mat-spinner diameter="20" />
            }
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</form>
}