@use '@angular/material' as mat;

:host {
    @include mat.form-field-overrides((outlined-outline-width:0, outlined-focus-outline-width:0));
}

mat-form-field {
    width: 100%;

    textarea {
        resize: none;
    }
}

.editor-header {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--mat-sys-outline-variant);
}

.form-submit {
    margin-right: .5rem;
}