@if (dataSource) {
@if (dataSource.isLoadingHistory) {
<div class="loading-indicator">
    <mat-spinner [diameter]="32"></mat-spinner>
</div>
}

<cdk-virtual-scroll-viewport autoSize #cdkScrollViewport class="thin-scrollbar">
    <deepin-message *cdkVirtualFor="let message of dataSource.messages; trackBy: trackByMessageId"
        [message]="message"></deepin-message>
</cdk-virtual-scroll-viewport>

@if (dataSource.isLoadingNewer) {
<div class="loading-indicator">
    <mat-spinner [diameter]="32"></mat-spinner>
</div>
}
}