@if (dataSource) {
@if (dataSource.isLoadingHistory) {
<div class="loading-indicator">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
}

<cdk-virtual-scroll-viewport itemSize="auto" #cdkScrollViewport class="thin-scrollbar" cdkScrollable>
    <deepin-message *cdkVirtualFor="let message of dataSource.messages; trackBy: trackByMessageId"
        id="message-{{message.id}}" [message]="message"></deepin-message>
</cdk-virtual-scroll-viewport>

@if (dataSource.isLoadingNewer) {
<div class="loading-indicator">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
}
}