.message {
    display: flex;
    position: relative;
    margin: .5rem;
    gap: .5rem;

    &:hover .message-actions {
        opacity: 1;
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    &-content {
        padding: 12px 16px;
        box-shadow: var(--mat-sys-level0);
        position: relative;
        word-break: break-word;
    }

    &-sender {
        color: var(--mat-sys-secondary);
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

    &-text {
        line-height: 1.5;
    } 

    &-my {
        justify-content: flex-start;
        flex-direction: row-reverse; 
        .message-sender{
            flex-direction: row-reverse;
            justify-content: end;
        }
        .message-content {
            color: var(--mat-sys-on-surface);
            background-color: var(--mat-sys-primary-container);
            border-radius: 1rem 0 1rem 1rem;
        }
    }

    &-other {
        justify-content: flex-start;

        .message-content {
            border-radius: 0 1rem 1rem 1rem;
            background-color: var(--mat-sys-surface-container-high)
        }
    }
}