@if (message) {
<div class="message" [class.message-my]="message.isMyMessage" [class.message-other]="!message.isMyMessage">
    <deepin-avatar [fileId]="message.from.avatarFileId"></deepin-avatar>
    <div class="message-container">
        <div class="message-sender">
            <span>
                {{ message.from.displayName }}
            </span>
            <small>
                {{ message.createdAt | formatTime }}
            </small>
        </div>
        <div class="message-content">
            @if(message.content) {
            <div class="message-text">
                {{ message.content }}
                @if(message.isEdited){
                <span class="edited-indicator">(Edited)</span>
                }
            </div>
            }
        </div>

    </div>
</div>
}