:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-sidenav-container {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 4rem;
}

mat-sidenav-content {
    border-left: 1px solid var(--mat-sys-outline-variant);
    box-sizing: border-box;
}