@use '@angular/material' as mat;

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

mat-toolbar {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

mat-list {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.chat-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    @include mat.form-field-overrides((filled-active-indicator-height: 0));
}

.chat-search {
    width: 100%;
}

::ng-deep mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
    display: none;
}